#colorGrid
{
	display: grid;
	grid-template-columns: repeat(50, 1fr);
	margin-top: -75px;
	overflow: hidden;
	width: 100%;
}

#colorGrid .box
{
	border: 1px solid rgba(255, 255, 255, 0.03);
	height: 80px;
	min-height: 25px;
	min-width: 25px;
	transition: background-color 0.20s ease;
	width: 80px;
}